<footer>
    <div class="container">
        <div class="row gx-0 gy-3">
            <div class="col-lg-5">
                <div class="row gx-3">
                    <div class="mb-4 pb-3 col-lg-12 col-auto">
                        <img class="logo_footer" src="images/logo_footer.svg" alt="">
                    </div>
                    <div class="mb-0 col-lg-6 col">
                        <div class="txt text1 font_Inter">
                          {{ footer_1 }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row g-lg-0 g-4">
                    <div class="col-lg-7 col-6">
                        <div class="txt text2">
                            {{ footer_2 }}
                        </div>
                    </div>
                    <div class="col-lg-5 col-6">
                        <div class="txt text3">
                            <div class="vstack gap-lg-4 gap-3">
                                {{ footer_3 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white text-center py-lg-5 py-2">
        <img class="logo_bottom" src="images/logo.svg" alt="">
    </div>
</footer>
</div>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="swiper/swiper-bundle.min.js"></script>
<script src="fancybox/jquery.fancybox.min.js"></script>
<script src="js/svg-injector.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>