/* .font_Inter{
    font-family:'Inter';
} */
.color-primary{
    color: var(--color-primary);
}
header {
    transition: all .2s;
}
header .navbar {
    --bs-border-width: 0;
    --bs-navbar-toggler-border-radius: 0;
    --bs-navbar-color: #000;
    padding-top:1rem;
    padding-bottom:1rem;
}
header .navbar-brand{
    position:relative;
    z-index:2;
}
header .logo{
    height:5rem;
    width:auto;
}
header .menu-dropdown .navbar-collapse .navbar-nav{
    padding-top:6.125rem;
    padding-bottom:6.125rem;
    padding-right:6.125rem;
    --bs-nav-link-padding-y:1rem;
	padding-left: 1.5rem;
}
header #navbarNav .navbar-nav .nav-link {
    font-size:calc(1.25rem / var(--ratio));
    font-weight: 700;
    position: relative;
}
header #navbarsMain .navbar-nav .nav-link {
    font-size:calc(1.5625rem / var(--ratio)); text-transform: uppercase;
}
header .navbar-nav .nav-link.active{}
header .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url(../../../../../images/menu_black.svg);
    width:2.6875rem;
    height:2.6875rem;
    background-position:center;
}
header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url(../../../../../images/menu_close_black.svg);

}
header .icon_nav{
    width:2.6875rem;
    height:2.3125rem;
    object-fit:contain;
    object-position:center;
}
.icon_whatsapp{
    width:calc(2.4375rem / var(--ratio)); margin-right: 1rem !important;
}
footer{
    background: var(--lightgray);
}
footer .container{
    padding-top:calc(5.31rem / var(--ratio));
    padding-bottom:calc(5.12rem / var(--ratio));
}
footer .logo_footer {
    width: 11.0625rem;
}
footer .text1{
    font-size: 1.25rem;
    line-height: normal;
}
footer .logo_bottom{
    width: 8.08819rem;
	width: 15rem;
}
.capitals { text-transform: uppercase; margin-bottom: 1em; line-height: 1.5em; }
.icon_search{
    width:1.5625rem;
}
.label-camera,
.btn_cta{
    height:calc(5rem / var(--ratio));
    font-size:calc(1.5625rem / var(--ratio)) !important;
    padding:calc(1.56rem / var(--ratio)) calc(2.06rem / var(--ratio)) calc(1.31rem / var(--ratio));
    line-height: 1;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    --bs-border-radius:0;
}
.btn_cta, .btn_cta * {
    transition: all .1s;
}
.btn_cta span{
    user-select:none;
    pointer-events:none;
}
.btn_cta:hover {
    /*background-color: var(--color-primary);*/
    /*color: #fff;*/
    /*border-color: transparent;*/
}
.btn_cta svg g {
    fill:var(--color-primary);
}
.btn_cta:hover svg g {
    stroke: #fff;
    fill:#fff;
}
.form_cta{
    text-transform:uppercase;
    height: calc(3.25rem / var(--ratio));
    font-size:calc(1.5625rem / var(--ratio));
    padding:calc(.5rem / var(--ratio)) calc(1rem / var(--ratio));
    border-color:var(--color-secondary)!important;
    box-shadow:none!important;
    border-radius:0;
}
select.form_cta{
    position:relative;
    background:none;
    /*color:rgba(112, 112, 112, 0.253);*/
}
.select_arrow{
    content:"";
    position:absolute;
    width:calc(1.5rem / var(--ratio));
    height:calc(.5rem / var(--ratio));
    background-image:url("../images/select_arrow.svg");
    background-size:100% 100%;
    right:0;
    bottom:calc(100% + .62rem/var(--ratio));
    pointer-events:none;
}
textarea.form_cta{
    height:calc(15.6875rem / var(--ratio));
}
.hero_banner .input-group {
	background: rgba(255, 255, 255, .4);
}
.hero_banner .item{
    height:calc(56.25rem / var(--ratio));
    background-size:cover;
    background-position: center;
}
.hero_banner .text1{
    padding-top:calc(10.5rem / var(--ratio));
    /* font-size:calc(9.375rem / var(--ratio)); */
	font-size:calc(5rem / var(--ratio));
    line-height:1;
}
.hero_banner .form-control,.hero_banner .btn{
    height: calc(5rem / var(--ratio));
    font-size:calc(1.5625rem / var(--ratio));
}
.section_bot .text1{
    font-size:calc(9.375rem / var(--ratio));
    line-height:1;
}
.feature{
    text-align:center;
}
.text1 h1,
.section_mid .text1{
    /* font-size:calc(6.25rem / var(--ratio)); */
	font-size:calc(5rem / var(--ratio));
    text-align: center;
}
.feature .text2 h2,
.feature .text2{
    font-size:calc(3.4375rem / var(--ratio));
    line-height:1;
    margin-bottom:calc(2.75rem / var(--ratio));
    text-transform: uppercase;
}
.price_detail.text2 { text-transform: none !important; }
.feature .text3{
    font-size:calc(1.5625rem / var(--ratio));
}
.section_mid{
    padding-top:calc(13.69rem / var(--ratio));
    margin-bottom:calc(12.48rem / var(--ratio));
}
.section_bot{
    height:calc(58.375rem / var(--ratio));
    margin:calc(8.56rem / var(--ratio)) 0;
}
.section_pharma {
	margin:calc(8.56rem / var(--ratio)) 0;
}
.feature .image_thumb{
    max-width:calc(44.8125rem / var(--ratio));
    max-height:calc(38.5rem / var(--ratio));
}
.feature .wap_text{
    padding:0 calc(4.3125rem / var(--ratio));
    text-align:center;
}
.form-check-input.border-secondary:checked{
    background-color:#707070;
}
.form_register .text1{
    color: var(--black);
    font-size:calc(3.4375rem / var(--ratio));
}
.form_register h4{
    font-size:calc(1.875rem / var(--ratio));
     line-height:1.83333;
}
.hero_banner .text1{
    padding-left:calc(7.625rem / var(--ratio));
    padding-right:calc(7.625rem / var(--ratio));
	color: #fff;
	text-shadow: 1px 1px 10px #000;
}
.product{
    padding-top:calc(4.375rem / var(--ratio));
    padding-bottom:calc(10.75rem / var(--ratio));
	font-size: 1.1rem;
}
.row_sp{
     --bs-gutter-x:calc(2.81rem / var(--ratio));
    --bs-gutter-y:calc(3.625rem / var(--ratio));
}
.item_sp{
    /* text-align:center; */
	background: #fafafa;
	border: solid 1px #eee;
	border-radius: 15px;
	padding: 15px;
}
.next-row { border-bottom: none; }
.item_sp h4 { 
	/* text-transform: uppercase;  */
	font-size: calc(1.35rem / var(--ratio));
	font-weight: 600; 
}
.image_sp{
    height:calc(19.9375rem / var(--ratio));
    margin-bottom:calc(1.75rem / var(--ratio));
}
.item_sp .text1{
    font-size:calc(2.1875rem / var(--ratio));
    line-height:1.14286;
    /* font-family: Inter; */
    /* padding:0 calc(0.1875rem / var(--ratio)); */
    /* height:calc(6rem / var(--ratio)); */
    margin-bottom:calc(0.9375rem / var(--ratio));
	margin-bottom:0;
}
.item_sp .text2{
    /* font-size:calc(1.5625rem / var(--ratio)); */
	/* font-size:calc(1.2625rem / var(--ratio)); */
	font-size:calc(1.2rem / var(--ratio));
    line-height: normal;
    /* color: #707070; */
}
.product .col_left .text1{
    line-height:1.14286;
    font-size:calc(1.1875rem / var(--ratio));
}
.product .col_left .text2{
    font-size:calc(1.5625rem / var(--ratio));
    line-height: normal;
}
.box_vang{
    margin-bottom:calc(4.37rem /var(--ratio));
}
.box_vang .text1{
    font-size:calc(2.5rem / var(--ratio));
    line-height:1.375;
    font-weight:300; text-transform: uppercase;
	color: #fff;
	font-weight: 300;
}
.box_vang .text1 b{
    font-weight:500;
}
.detail .text1{
    font-size:calc(2.8125rem / var(--ratio));
    font-style: normal;
    font-weight: 700;
    line-height:1.22222;
    text-decoration-line: underline;
}
.detail .text2{
    font-size:calc(1.875rem / var(--ratio));
    line-height:1.83333;
    text-transform: uppercase;
    clear: left;
}
.detail .text3,.detail .text5{
    font-size:calc(0.9375rem / var(--ratio));
    line-height: normal;
}
.detail .text4{
    font-size:calc(1.375rem / var(--ratio));
}
.detail .text5{ font-weight: 600; }
.detail .text6{
    font-size:calc(1.375rem / var(--ratio));
    line-height: 1.27273;
}
.instock,
.notinstock 
	{ display: inline-block; width: 1.8rem; position: relative; margin-right: 1rem; }
.instock:before,
.notinstock:before 
	{ content:''; display: block; position: absolute; width: 18px; height: 18px; background: var(--green); border-radius: 50%; top: -15px; }
.notinstock:before 
	{ background: var(--red); }
.price_no_log { color: green; }
/* VU */
.img_manufacture {
    height: 40px;
}
#input-coupon {
    margin-right: 20px;
}

.hide {
	display: none;
}

.panel {
	border: 0px solid transparent !important;
}

.panel-default>.panel-heading {
	display: none !important;
}

.upload_file {
    margin-bottom: 20px;
    margin-top: -60px;
}

.upload_1 {
	display: inline-block;
}

.upload_2 .fa { font-size: 1.4rem; margin-right: 1rem; }
.upload_2 { display: none; }
.label-camera {
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
	border: 2px solid var(--yellow);
	transition: all .3s ease-in-out;
	text-align: center;
}
.label-camera:hover { background: var(--yellow); }
.upload_2 input[type=file] {
	display: none;
}
#collapse-checkout-confirm {
  height: 200px !important;
}

#collapse-checkout-confirm {
	display: none;
}

#collapse-payment-method {
	display: none;
}

.loading_confirm {
	position: absolute;
	left: 50%;
	/*top: 50%;*/
    font-size: 3em;
}

#checkout-cart .breadcrumb {
	background: none;
	border: none;
}

.loading_km {
	font-size: 3.5em;
	position: absolute;
	left: 50%
}

#input-zone {
	display: none;
}

#content {
	padding-top: 0;
	padding-bottom: 0;
}

.buttons {
  margin-top: 10px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#account-login {
    /*margin-top: 20px;*/
}
.account li { margin-bottom: 1em; }
.header_height {
    /* margin-bottom: 30px; */
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.hide {
    display: none;
}

.item.item1 {
    margin-bottom: 30px;
}

.name_attribute {
    display: inline-block;
    float: left;
}
.attribute_product ul li {
	display: inline-block;
	/* width: 32%; */
	width: 49%;
}
.attribute_product ul li.icon {
	width: 49%;
	margin: .5em 0;
}
.attribute_product_in_category ul li.icon {
    width: 49%; display: inline-block; margin-bottom: 1rem;
}
.attribute_product_in_category ul {
    list-style: none;
	display: block;
    width: 100%;
    padding-left: 0;
}
.attribute_product {
    /*display: flex;*/
    margin-top: 30px;
    margin-bottom: 30px;
}
.attribute_product_in_category {
    text-align: left;
}
.attribute_product_in_category .attribute_product {
    margin-top: 0;
    margin-bottom: 0;
}

.product-layout.product-list .attribute_product_in_category {
    /*display: none;*/
}
.icon_attribute {
    width: 40px;
    padding-right: 10px;
}
.icon_attribute img { float: left; }

.filter_attribute {
    /* margin-right: 10px; */
	margin-right: 4px;
}
.label_atb { 
	font-size: 1.3rem;
	margin-bottom: 1em; color: #000;
}
.loading {
    margin-left: 50%;
    display: none;
    font-size: 3em;
}

.notice_shipping {
    display: none;
}

#upload_recipe {
    /*display: none;*/
}

#product-search #content {
    padding-top: 0 !important;
}

.name_group_attribute {
    display: none; font-weight: 600;
}

.menu_morpheus {
    list-style: none;
}
.menu_morpheus li {
    padding-bottom: 1em; text-transform: uppercase;
}

.megamenu { margin: 2rem 0; }
.mega-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 1000;
	display: none;
	padding: 20px;
	background: var(--yellow-light);
	/* background-color: #fff; */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border: solid 1px #ccc; border-top: none; 
}
.mega-menu.m1 { display: block; }
.mega-menu .row {
	display: flex;
}
.mega-menu .col {
	flex: 1;
	padding: 10px;
}
.mega-link h4 { padding: 0; margin:0; }
.mega-link { 
	border: solid 1px #ccc; 	
	padding: 0.5em 0.75em;
	transition: .5s; cursor: pointer;
}
.mega-link:hover { 
	background: var(--yellow-light);
	transition: .5s;
}
/* .mega-link:hover { border-bottom: none; }
.mega-link:hover .mega-menu {
	display: block;
} */
.product-grid .table-list-view td:first-child { width: 8rem; }
.product-list .isstock { position: absolute; right: 1rem; top: .5rem; }
.product-list .column-1,
.product-list .column-2,
.product-list .column-3,
.product-list .column-4 {
	text-align: left; vertical-align: middle;
}
.product-list .mobile-col-1 { width: 22rem; display: inline-block; float: left; }
.product-list { margin-top: 0 !important; }
.product-list img { max-height: 80px }
.product-list .item_sp h4 {
	font-size: calc(1.1rem / var(--ratio));
}
.product-list .item_sp .text2 { font-size: 1rem; }
/* .product-list .table-list-view td:first-child { background: green; } */
.product-list .td-list-view,
.productThumb 
	{ display: none; }
.product-list .table-list-view { width: calc(100% - 23rem); min-height: 7rem; }
.product-list .table-list-view tr { display: inline-block; }
.product-list .table-list-view tr:first-child { width: 22rem; }
.product-list .thc-list-view { width: 12rem; }
.product-list .img-list-view { width: 12rem; }
.product-list .table-list-view tr.next-row { display: block; width: 100% }
.product-list .item_sp { background: #efefef; padding: .25rem 1rem; position: relative; margin-bottom: .5rem; border-radius: 0; }
.product-list .table-bordered tr, 
.product-list .table-bordered td
	{ border: none; background: transparent; }
.product-list .attribute_product_in_category ul li.icon { width: auto; margin-right: 1rem; }
.product-list .item_sp.h-100 { height: inherit !important; }
.table-bordered td,
.table-bordered tr 
{
	border-left: none !important;
	border-right: none !important;
	background: transparent;
}

/* END */
@media (max-width: 1050px) {
	.nav-scroller, #navbarNav { display: none !important; }
	.item_sp .text2 {
		font-size: 1.5rem;
	}
	.item_sp h4 {
		font-size: calc(2rem / var(--ratio)) ;
	}
	.image_sp {
		/* height: auto; */
	}
	.upload_2 { display: inline-block; }
}
@media (max-width: 991.98px) {
    header .navbar{
        padding-top:.25rem;
        padding-bottom:.25rem;
    }
    header .logo{
        height:calc(2.9375rem / 2);
    }
    header .menu-dropdown .navbar-collapse .navbar-nav{
        padding-right:3.0625rem;
        padding-top:4rem;
        padding-bottom:3.0625rem;
    }
    #navbarsMain{
        --ratio:1.5;
    }
    .nav3 .nav-scroller {
        z-index:0;
        overflow-y: hidden;
    }
    .nav3 .nav-scroller .nav {
        padding:0 .75rem;
        gap:4.5rem;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    .nav3 .nav-link {
        color: #000;
        font-size: 0.875rem;
        padding:0;
        line-height: 1.6;
        position: relative;
    }
    footer{
        --ratio:2;
    }
    footer .logo_footer {
        width: 5.53125rem;
    }
    footer .text1,footer .text2,footer .text3{
        font-size:0.75rem;
    }
    footer .logo_bottom{
        width: 4.044095rem;
    }
    .hero_banner{
        --ratio:2;
    }
    .hero_banner .item{
        background-image: var(--bg-mb);
        background-position: left center;
    	height: 70vh !important;
	}
    .hero_banner .text1{
        padding-top: 4rem;
        --ratio:4; font-size: 2rem;
    }
	.hero_banner .hstack {
		display: block; 
	}
    .hero_banner .input-group{
		max-width: 50%; margin: 0 auto
    }
    .hero_banner .hstack .btn_cta{
        /* padding: 0 0.125rem; */
    }
    .hero_banner .form-control, 
	.hero_banner .btn{
        /* height:2.125rem; */ font-size: 1.2em !important;
    }
	.hero_banner .btn.btn_cta {
		height:1.25rem;	padding: 1rem 1rem;	margin-bottom: 10px;
	}
	.hero_banner .btn.btn_cta {
		font-size: .8rem !important;
		height: auto;
		display: inline-block;
		margin-bottom: 1em;
	}
	.btn_cta.py-4 {
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
	.icon_search {
		width: 1.15rem;
	}
    .section_mid{
        --ratio:3;
    }
    .feature .wap_text{
        --ratio:1.75;
        padding:1rem .625rem;
    }
    .feature .image_thumb{
        --ratio:2.5;
    }
    .section_bot{
        --ratio:4;
        margin-bottom:0;
    }
    .register{
        --ratio:2;
    }
    .form_register .text1{
        --ratio:2.5;
    }
    .form_register .form_cta{
        --ratio:1.75;
    }
    .product{
        --ratio:2; font-size: 1em;
    }
    .row_sp{
        --bs-gutter-x:.75rem;
    }
    .item_sp{
        --ratio: 2.05;
    }
    .item_sp .text1{
        padding:0;
    }
    .box_vang{
        --ratio: 2.05;
    }
    .detail{
        --ratio:2;
    }
    .detail .image_sp {
        height:19.5rem;
    }
    .detail .col-right,.detail .text3{
        --ratio:1.75;
    }
	.text1 h1, .section_mid .text1 {
		font-size: calc(2rem / var(--ratio));
	}
	.item_sp .text2 {
		/* font-size: .6rem; */
		font-size: 1.1em;
	}
	.item_sp h4 {
		/* font-size: calc(1.75rem / var(--ratio)); */
		font-size: 1.25em;
	}
	.product-grid .table-list-view td:first-child {
		width: 5rem;
	}
	label {
		font-size: 16px !important;
	}
	header .navbar-toggler-icon {
		width: 1.5rem !important;
		height: 1.5rem !important;
	}
	.section_pharma {
		margin: calc(1rem / var(--ratio)) 0;
	}
	.feature .text2 h2, .feature .text2 {
		font-size: calc(2.4375rem / var(--ratio));
	}
	.feature .text3 {
		font-size: calc(1.25rem / var(--ratio));
	}
	.label-camera, .btn_cta {		
		height: auto;
		line-height: 1.75rem;
		font-size: calc(1rem / var(--ratio)) !important;
		padding: .75rem .5rem !important;
		display: inherit;
	}
	.upload_1 { }
	.upload_2 .fa { margin-right: 5px; font-size: 1rem; }
	select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
		font-size: 1em;
	}
	.form_register h4 {
		font-size: calc(1.25rem / var(--ratio));
		line-height: 1.83333;
	}
}
@media (max-width: 768px) {
    #checkout-checkout #content {
        padding-top: 100px;
        padding-bottom: 30px;
    }
	.nav3.navbar { display: none !important; }
    .upload_file {
        margin-top: 0;
    }
    #upload_recipe {
        display: block;
        font-size: 1em;
        padding: 10px;
        height: auto;
    }
    #uploadForm {
        margin-top: -70px;
    }
    input.form_cta, select.form_cta, textarea.form_cta {
        width: 90%;
    }
    .select_arrow {
        right: 7%;
    }
    h4.mb-0 {
        font-size: 1.2em;
    }
    label {
        font-size: 1em !important;
    }
    h1 {
        font-size: 1.5em !important;
    }
    h2 {
        font-size: 1.2em !important;
    }
	h4 {
		font-size: .9em;
	}
	.btn_cta { line-height: 1rem; }
    .mobileOn { display: block; }
	.header_height { height: 80px !important; }
	header .logo {
		height: calc(3.59375rem / 2); margin-top: 10px;
	}
	header .navbar-toggler-icon {
		width: 2rem !important;
		height: 2rem !important;
	}
	header .navbar {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	.hero_banner .text1 { font-size: calc(6rem / var(--ratio)); }
	.hero_banner .item {
		height: 60vh !important;
	}
	.feature .text3,
	.hero_banner .form-control, 
	.detail .text6,
	.detail .text3, 
	.detail .text5,
	.detail .text4
	{
		font-size: calc(1.75rem / var(--ratio));
	}
	.detail .text2,
	.btn_cta,
	.item_sp .text2
	{
		font-size: calc(2rem / var(--ratio));
	}
	.product .col_left .text1,
	.hero_banner .btn,
	.item_sp h4
	{
		font-size: calc(2.25rem / var(--ratio));		
	}
	.item_sp .text1 {
		height: calc(11rem / var(--ratio));
	}
	.hero_banner .btn 
	{
	}
	.hero_banner .btn.btn_cta {
        width: 49%; font-size: 1rem !important;
        text-align: center;
        height: auto;
        display: inline-block;
		margin-bottom: 1em;
	}
	.hero_banner .form-control, .hero_banner .btn {
		height: 3rem;
	}
	.icon_search {
		margin-top: -2px;
	}
	.product .col_left .text2 {
		display: inline-block; vertical-align: top;
		width: 50%; padding: 6px 0;
	}
	input[type="text"].form-control,
	.label-camera, 
	.btn_cta
	{ 
		font-size: 1rem !important; 
	}
	.filter_attribute {
		vertical-align: inherit;
		margin-top: 4px;
	}
	.body
	{ 
		/* height: 0;  */
		overflow: hidden; 
		max-height: 0;
		/* transition: 0.3s;  */
		transition: max-height 0.3s ease;
	}
	.showw {
		/* height: auto; */
		/* display: block; */
		transition: max-height 0.3s ease;
		max-height: 1000px;
	}
	/* .categoryHL:after {
		content: ''; display: inline-block; width: 20px; height: 20px; background-size: contain; background-repeat: no-repeat; position: absolute; margin-top: -2px; margin-left: 1rem; transform: rotate(-90deg); transition: .5s;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.525' height='34.009' viewBox='0 0 20.525 34.009'%3E%3Cg id='Gruppe_366' data-name='Gruppe 366' transform='translate(-222.131 201.949) rotate(-90)'%3E%3Cpath id='Pfad_243' data-name='Pfad 243' d='M0,0,13.913,15.269l.928,1.018' transform='translate(170.059 224.25)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='3'/%3E%3Cpath id='Pfad_242' data-name='Pfad 242' d='M14.93,0,8.4,7.125,0,16.287' transform='translate(184.899 224.25)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
	}
	.categoryHL.open:after {
		margin-top: 6px; margin-left: 1rem; transform: rotate(90deg); transition: .5s;
	} */
	.body label {
		white-space: normal;
	}
	.btn { margin-bottom: 1em; }
	.upload_1 ,
	.upload_2 {
		display: inline-block;
		width: 90%;
	}
	.label-camera { width: 100%; }
	.mega-menu {
		background: var(--yellow-light);
		padding: .5rem 2rem 0 !important;
	}
	footer .text1, footer .text2, footer .text3 {
		font-size: 0.85rem;
	}
	.attribute_product ul li.icon {
		width: 32%;
	}
}

@media (max-width: 600px) {
	body {
		font-size: 1.75rem;
	}
	header .navbar {
		padding-top: 0;
		padding-bottom: 0;
	}
	header .navbar-toggler-icon {
		width: 24px !important;
		margin-top: 4px;
	}
	.header_height {
		height: 56px !important;
	}
	header #navbarsMain .navbar-nav .nav-link {
		font-size: 2rem;
		text-transform: uppercase;
	}
	header .menu-dropdown .navbar-collapse .navbar-nav {
		padding-top: 8rem;
		padding-left: 20px
	}
	header .logo {
		height: 7rem; margin: 0; padding: 0;
	}
	.hero_banner .btn.btn_cta {
		width: 100%; font-size: 1rem !important;
		text-align: center;
		height: auto;
		display: inline-block;
		margin-bottom: 6px;
		border: solid 1px var(--yellow)
	}
	.hero_banner .item { height: 60vh !important; }
	.hero_banner .input-group { width: 100%; max-width: inherit }
	.hero_banner .btn { margin: 0; }
	/* .hero_banner .btn_cta, */
	.hero_banner .btn.bg-transparent.btn-outline-secondary { height: 58px !important; }
	.attribute_product ul li.icon {
		width: auto;
		margin-right: 2rem;
	}
	.btn_search { font-size: 1em !important; height: auto !important; }
	.icon_search {
		width: 4rem;
	}
	input[type="text"].form-control, .label-camera, .btn_cta {
		font-size: 1.5em !important; height: 58px !important;
	}
	
	.detail .text2, .btn_cta, .item_sp .text2 { font-size: 2em; }
	.price_detail { font-size: 1.5em !important; }
	
	.hero_banner .btn.btn_cta {
		font-size: 1.25em !important;
		line-height: 2em;
	}
	.hero_banner .btn.btn_cta:nth-child(3) { display: block; margin: 0 auto; }
	.feature .text3, .hero_banner .form-control, .detail .text6, .detail .text3, .detail .text5, .detail .text4 {
		font-size: 1.25em;
	}
	.detail .text1 { font-size: 1.7em; text-decoration: none; } 
	.ps-lg-5 .text1 { margin-top: 3rem; } 
	.btn_cta {
		font-size: 1.5em !important;
		padding: 2.1rem !important;
	}
	.attribute_product {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.hero_banner .text1 {
		font-size: 2.2em; padding: 20vh 0 0; text-shadow: 1px 1px 4px #000;
	}
	.hero_banner.cat .text1 {
		padding: 30vh 0 0; 
	}
	.btn-abs img { max-width: 60%; }
	h1 {
		font-size: 2.15em !important;
	}
	h2 {
		font-size: 2em !important;
	}
	h4 {
		font-size: 1em;
	}
	.item_sp h4 {
		font-size: 1.35rem;
	}
	.detail .text5 { margin: 2em 0 1em; }
	.text-secondary h3 { font-weight: 500; }
	.section_bot { height: 28vh !important; }
	.section_bot img { height: auto !important; }
	.box_vang {
		--ratio: 1;
		font-size: 1.5em;
		line-height: 1em;
	}
	.icon_whatsapp { width: 4.5rem; }
	.nav-link .icon_whatsapp { width: 3.5rem; margin-left: 10px; }
	.product-list .item_sp .text2 {
		font-size: 1em; color: var(--yellow)
	}
	.thumbnails {
		margin: 0 auto;
		max-width: 70%;
	}
	footer .text1, footer .text2, footer .text3 {
		font-size: 1.05em; padding-left: 10px; margin-top: 2rem;
	}
	footer .logo-footer {
		width: 0; padding: 0; margin: 0;
		margin-bottom: 5em !important; display: none
	}
	footer .logo_bottom {
		width: 11em;
		margin-bottom: 3rem
	}
	#input-coupon {
		margin-right: 5px;
		height: 51px;
	}
	.btn-noborder {
		border: none !important;
	}
	.mega-link { margin-bottom: .5em; }
	input.form-control, form button {
		border-color: #000 !important;
	}
	.item_sp .text2 {
		font-size: 1em;
	}
	.item_sp h4 {
		font-size: calc(3.5rem / var(--ratio));
	}
	.product-list .item_sp h4 {
		font-size: calc(3.5rem / var(--ratio));
	}
	.item_sp .text1 {
		height: auto;
	}
	.product-list .isstock { position: relative; right: inherit; top: inherit; }
	.product-grid .item_sp {
		background: #efefef;
		padding: 0.25rem 1rem;
		position: relative;
		margin-bottom: 1rem;
	}
	.hidden-xs { display: none !important; }
}

@media (max-width: 380px) {
	.section_bot { height: 36vh !important; }
	.hero_banner .item { height: 70vh !important; }
}
@media (max-width: 370px) {
	.hero_banner .item {
		height: 60vh !important;
	}
	
}

@media (min-width: 992px) {
    header .container-fluid{
        padding-left:1.63rem;
        padding-right:1.63rem;
    }
	.hero_banner .item {
		height: 60vh !important;
	}
    .feature .order-lg-0{
        text-align:left;
    }
    .feature .order-lg-1{
        text-align:right;
    }
    #navbarNav .nav-item+.nav-item{
        margin-left:2.5rem;
    }
    .hero_banner .item{
        background-image: var(--bg);
    }
    .container_product{
        width:91.875rem;
    }
    .product .col_left{
        width:20.4375rem;
    }
    .product .col_right{
        width:71.4375rem;
    }
    .detail .col-left{
        width: 41.9375rem;
    }
    .detail .image_sp{
        height: 37.25rem;
    }
}
@media (min-width: 1920px) {
}
.swiper-pagination-bullet {
    position: relative;
}
.swiper-pagination-bullet-active:after {
    content: "";
    z-index: 9;
    position: absolute;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1rem;
    border: 0.125rem solid var(--color-fill, #FFF);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.fancybox-slide--video {
    padding: 0 !important;
}
